body{
    background:white;
    /* background: rgb(255,189,146);
    background: linear-gradient(90deg, rgba(255,189,146,0.88) 16%, rgba(239,147,0,0.8580474426098564) 51%, rgba(177,72,16,0.85) 90%); */
}
:root{
    --orange:rgba(244, 147, 27, 0.865);
    --light_gray:rgba(233, 233, 233, 0.623);
    /* var(--light_gray) */

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

    /*对所有可点击的条目设置颜色*/
    a {
    color: black;
    text-decoration: none;
    }

    a:hover{
        color:var(--orange);
    }

    ul {
    list-style: none;
    }
/* 设置块的边线 */
.header, #sideline-aside, .video-cards, .footer{
    border-right: 1px solid var(--light_gray);
    border-top: 2px solid var(--light_gray);
    padding: 5px;
}

.video-cards {
    border-left: 1px solid var(--light_gray);
}

/* Nav */
    .main-nav {
    position:fixed;
    top:0; left:0; right:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    padding: 20px 150px 20px 120px;
    z-index:1000;
    font-size: 18px;
    align-content: center;
    background-color:white;
    -webkit-box-shadow: 0px -1px 17px -2px rgba(0, 0, 0, 0.224);
    -moz-box-shadow: 0px -1px 17px -2px rgba(0, 0, 0, 0.217);
    box-shadow: 0px -1px 17px -2px rgba(9, 9, 9, 0.269);
    

    }



    .main-nav .logo {
    width: 60px;
    padding:10px;
    color:blue;
    }

    
     .logo i{
         width:10px;
        color:green;
    }

    .main-nav ul {
    display: flex;
    justify-content: flex-start;
    }

    .main-nav ul li {
    padding: 0 25px;
    }

    .main-nav ul li a {
        padding-bottom: 2px;
        font-size:1.45rem;
        border-radius:.5rem;
        padding:.5rem 1.5rem;
        color:black;
    }

    .main-nav ul li a:hover {
        /* border-bottom: 2px solid lightgrey; */
        color:var(--orange);
    }

    .main-nav ul.main-menu {
    flex: 1;
    margin-left: 75px;
    width:800px;
    margin:0px auto;
    }

    .main-nav .icons{
        display:flex;
        font-size:1.7rem;
        border-radius:0.5rem;
        padding:.5rem 1rem;
    }



    .main-nav .icons a{
        cursor:pointer;
        line-height:2.5rem;
        text-align:center;
        margin-right:1rem;
        width:2.5rem;
        font-size:1.7rem;
        border-radius: 30%;

    }

    .main-nav .icons a:hover{
        background-color: white;
    }


    .bg {
    background: url('pic3.png');
    color:white;
    background-size: cover;
    background-position: center;
    height:400px;
    width: 1400px;
    }

    .bg {
        display: grid;
        grid-gap: 20px;
        grid-template-areas:
            'showcase showcase top-box-a'
            'showcase showcase top-box-b';
        }

        /* Showcase */
    .bg1 {
        grid-area: showcase;
        height: 490px;
        width: 1650px;
        background: url('../images/pic3.png');
        background-size: cover;
        background-position: center;
        padding: 110px 20px 20px 20px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin:0px auto;
        font-weight:550;
        }

    .bg1 h1{

        font-size: 6rem;
        margin-bottom: 0;
        color: whitesmoke;
    }

    .bg1 p {
        color:azure;
        font-size: 1.5rem;
        margin-top: 15px;
        color:whitesmoke;
        padding:30px;
        }


    
    .layout{
        height:1500px;
        width:1650px;
        margin:0px auto;
        display:grid;
        grid-template-areas:"header header header""content content sidebar""footer footer footer";
        align-items:start;
        justify-items: center;
        justify-content: center;
        grid-template-columns:2fr 2fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;
        gap:2px;
    }
    .header{
        padding: 0px 0px 10px 0px;
    }

    header{
        height:400px;
        width:1650px;
        grid-area:header;
        border:10px;
        border-color: black;
        background-color: white;

    }

    main{
        height:600px;
        width:1300px;
        grid-area:content;
        border:3px;
        background-color: white;
        border-color: black;
    }

    aside{
        height:400px;
        width:400px;
        grid-area:sidebar;
        border:3px;
        background-color: white;

    }

    footer{
        height:200px;
        width:1600px;
        grid-area:footer;
        border:3px;
        background-color: white;
        border-color: black;
        margin:20px auto;
    }

    

    .icon{
        font-family: FontAwesome;
    }


    .cards{
    display:flex;
    padding:10px 0px 15px 0px;

}

.card{
    background-color: var(--light_gray);
    width:310px;
    height:330px;
    display:flex;   
    flex-direction:column;
    margin:7.5px;
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.12);
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.12);
    border-radius: 2.5%;
}


.card a img {
    height:125px;
    position:absolute;
    clip:rect(0px 248px 200px 00px);

}

.card-pic{
    width:245px;
    height:150px;
    margin:0px auto;
    padding:15px 0px 5px 0px;
}

.title_name{
    width:240px;
    margin:0px auto;
    padding:16px 10px 10px 10px;
    font-size: 10px;
}

.title_name a:hover{
    /* border-bottom: 1px solid gray; */
    color:rgb(16, 128, 240);
    font-size:12px;
    font-weight:550;
}

.main{
    width:1300px;
    height:580px;
    margin:0px 0px 5px 26px;
}

/* 论坛区css */

.aside{
    width: 430px;
    height:279px;
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.forum{
    font-size: 20px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.study,.fun{
    display:grid;
    align-items:start;
    justify-items: center;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom:15px;

}
.study-title,.fun-title{
    margin:5px;
}

.study a{
    margin:10px;
    font-size: 15px;
}
.fun a{
    margin:12px;
    font-size: 15px;
}


/* 视频区css */



.video-list{
    display:flex;
    margin:0px margin;
    padding:10px;
}

.video-big{
    position:relative;
    width:400px;
    height:450px;
    background-color: white;
}

.video-big img{
    margin:15px 25px 5px 25px;
    width:355px;
}

.video-big a i{
    position:absolute;
    top: 85px;
    left:170px;

}

.video-big .more{
    padding:0px 30px 10px 40px;
    font-size: 17px;
}

.video-big .vid-name,.info{
    padding:5px 20px 15px 44px;
    font-size: 10px;
}

.video-big:hover img {
        -webkit-transform:scale(1.05); /* Safari and Chrome */
        -moz-transform:scale(1.05); /* Firefox */
        -ms-transform:scale(1.05); /* IE 9 */
        -o-transform:scale(1.05); /* Opera */
        transform:scale(1.05);
    }

    .video-list.videos-small{
        margin:0px 0px 0px 20px;
    }

.video-small{
    display:flex;
}

.video-small{
    position:relative;
    display:flex;
    width:440px;
    height:150px ;
    background-color: white;
}
.video-small img{
    height:125px;
    margin:10px;
    padding:8px 5px 8px 13px;
}

.video-small:hover img {
        -webkit-transform:scale(1.05); /* Safari and Chrome */
        -moz-transform:scale(1.05); /* Firefox */
        -ms-transform:scale(1.05); /* IE 9 */
        -o-transform:scale(1.05); /* Opera */
        transform:scale(1.05);
        z-index: 100;
    }

.video-small .more{
    width:200px;
    height:125px;
    display:flex;
    flex-direction: column;
    float:left;
    margin:10px;
    justify-content: space-evenly;

}

.video-small a i{
    position:absolute;
    top:40px;
    left:95px;
    color:#fff;
}

.video-small a i:hover{
    position:absolute;
    top:40px;
    left:95px;
    color:#fff;
    opacity: 1;
    z-index: 500;

}

.ted-title{
    font-size: 45px;
    width:250px;
    height:55px;
    margin:10px auto;
    padding:5px;
    border-bottom: 2px solid lightgrey;

}

.bilibili-title{
    font-size: 45px;
    width:300px;
    height:55px;
    margin:10px auto;
    padding:5px;
    border-bottom: 2px solid lightgrey;
}
.study, .fun{
    width:250px;
    margin:0px auto;
}


#sideline-aside{
    width:300px;

}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);


.login-page {
width: 360px;
padding: 10px 0 0 0;
margin: auto;
}
.form {
position: relative;
z-index: 1;
background: #FFFFFF;
max-width: 330px;
margin: 0 auto 100px;
padding: 25px 40px;
text-align: center;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
font-family: "Roboto", sans-serif;
outline: 0;
background: #f2f2f2;
width: 100%;
border: 0;
margin: 0 0 15px;
padding: 15px;
box-sizing: border-box;
font-size: 14px;
}
.form button {
font-family: "Roboto", sans-serif;
text-transform: uppercase;
outline: 0;
background: orange;
width: 100%;
border: 0;
padding: 15px;
color: #FFFFFF;
font-size: 14px;
-webkit-transition: all 0.3 ease;
transition: all 0.3 ease;
cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
background:rgb(219, 142, 0);
}
.form .message {
margin: 15px 0 0;
color: #b3b3b3;
font-size: 12px;
}
.form .message a {
color: orange;
text-decoration: none;
}
.form .register-form {
display: none;
}
/* .container {
position: relative;
z-index: 1;
max-width: 300px;
margin: 0 auto;
} */
.container:before, .container:after {
content: "";
display: block;
clear: both;
}

.container .info h1 {
margin: 0 0 15px;
padding: 0;
font-size: 36px;
font-weight: 300;
color: #1a1a1a;
}
.container .info span {
color: #4d4d4d;
font-size: 12px;
}
.container .info span a {
color: #000000;
text-decoration: none;
}
.container .info span .fa {
color: #EF3B3A;
}


#footer{
    height: 50px;
}

#footer {
	border-top:1px solid #d3d3d3;
	text-align:center;
	padding:20px 0;
	margin-top:30px;
}
#footer a {
	color:rgb(143, 143, 143);
}
#footer .bottom {
	padding:0 0 8px 0;
}
#footer .copyright {
	color: rgb(206, 206, 206);
    font-size: 10px;
    text-align: center;
}


/* body {
background: #76b852; 
background: rgb(141,194,111);
background: linear-gradient(90deg, rgba(141,194,111,1) 0%, rgba(118,184,82,1) 50%);
font-family: "Roboto", sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;      
} */

